.restaurant-container {
  display: flex;
  min-width: 100%;
  justify-content: center;
  background-image: url('https://res.cloudinary.com/dbmvwqck0/image/upload/v1634029034/Frame_278_lpbjr5.png');
  overflow: hidden;
}

.restaurant {
  padding: 15px;
  padding-right: 0px;
  display: flex;
}

.restaurant-image {
  height: 300px;
  width: 450px;
  border-radius: 10px;
  object-fit: cover;
}

.restaurant-details {
  width: 30vw;
  margin: 15px;
  align-self: center;
  font-family: Verdana;
  color: white;
}

.Food-item-list-container {
  display: flex;
  justify-content: space-around;
}

.Food-item-list {
  display: flex;
  width: row;
  justify-content: space-around;
  width: 80vw;
  flex-wrap: wrap;
}

.Rating-and-pricing-section {
  display: flex;
}

.rating-container {
  margin-top: 1px;
}

.vertical-line {
  display: inline-block;
  border-left: 1px solid #ccc;
  height: 60px;
  margin-left: 15px;
  margin-right: 15px;
}
.dot-color {
  color: #454545;
}

.restaurant-name {
  font-size: 25px;
}

.start {
  height: 20px;
  width: 20px;
  margin-top: -6px;
  margin-bottom: -3px;
  margin-right: 5px;
}

.restaurant-rating {
  margin: 5px;
}

.restaurant-price {
  margin: 5px;
}

@media screen and (max-width: 700px) {
  .restaurant-image {
    align-self: flex-start;
    width: 250px;
    height: 250px;
    border-radius: 0px;
    border-bottom-right-radius: 180px;
  }
  .restaurant-container {
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
  }
  .restaurant {
    margin-top: 0px;
    align-self: center;
    padding: 0px;
    max-width: 35vw;
  }
  .restaurant-container {
    height: 100%;
    align-self: center;
  }
  .restaurant-name {
    font-size: 18px;
    font-weight: bold;
    font-family: sans-serif;
  }
  .restaurant-details {
    max-height: 25vh;
    min-width: 50vw;
    font-family: sans-serif;
  }
  .restaurant-cuisine {
    font-size: 15px;
    font-family: sans-serif;
  }

  .location {
    font-size: 14px;
    font-family: sans-serif;
  }
}

@media screen and (min-width: 700px) and (max-width: 1024px) {
  .Rating-and-pricing-section {
    width: 30vw;
  }
  .rating-container {
    text-align: center;
  }
  .price-container {
    text-align: center;
  }
  .vertical-line {
    height: 50px;
    margin: 10px;
  }
}

.products-details-loader-container {
  display: flex;
  height: 150vh;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 370px) {
  .restaurant-image {
    width: 221px;
    height: 221px;
    margin-left: -68px;
    margin-top: -54px;
    border-radius: 133.9812469482422px;
  }
  .restaurant-container {
    display: flex;
    justify-content: flex-start;
  }
  .restaurant {
    margin-top: 0px;
    align-self: center;
    padding: 0px;
    height: 100%;
    width: 100vw;
  }
  .restaurant-container {
    height: 100%;
    align-self: center;
  }
  .restaurant-name {
    font-size: 15px;
    font-weight: bold;
    font-family: sans-serif;
  }
  .restaurant-details {
    height: 30vh;
    width: 35vw;
    font-family: sans-serif;
  }
  .restaurant-cuisine {
    font-size: 14px;
    font-family: sans-serif;
  }

  .location {
    margin-top: -15px;
    font-size: 13px;
    font-family: sans-serif;
  }
  .Rating-and-pricing-section {
    width: 100vw;
    min-height: 60px;
    margin-left: -5px;
    margin-top: -15px;
    text-align: center;
  }
  .rating-container {
    text-align: center;
  }
  .price-container {
    text-align: center;
  }
  .vertical-line {
    height: 50px;
    margin: 10px;
  }
  .start {
    margin-left: 0px;
    margin-right: 0px;
    font-size: 10px;
  }
  .restaurant-rating {
    font-size: 13px;
  }
  .numOf-rating {
    font-size: 14px;
  }
  .restaurant-price {
    font-size: 14px;
  }
  .costForTwo {
    font-size: 14px;
  }
  .vertical-line {
    min-height: 50px;
  }
}

@media screen and (max-width: 370px) {
  .Food-item-list-container {
    display: flex;
    justify-content: flex-start;
  }
  .Food-item-list {
    width: 100%;
  }
}
